#planner {
	overflow: hidden;
}

#tabs {
	float: right;
	width: 12%;
	margin: 30px 0 0;
	padding: 0;
	list-style: none;
	font-size: 15px;
}

#tabs li {
	padding: 10px;
	position: relative;
}

#tabs li:hover {
	text-decoration: underline;
	cursor: pointer;
}

#tabs li.selected {
	font-weight: bold;
}

#tabs li.selected:before {
	content: '.';
	line-height: 100px;
	overflow: hidden;
	height: 0;
	width: 0;
	border-top: 16px solid transparent;
	border-left: 16px solid transparent;
	border-right: 16px solid #666;
	border-bottom: 16px solid transparent;
	position: absolute;
	right: -1px;
	top: 4px;
}

#tabs li.selected:after {
	content: '.';
	line-height: 100px;
	overflow: hidden;
	height: 0;
	width: 0;
	border-top: 15px solid transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid white;
	border-bottom: 15px solid transparent;
	position: absolute;
	right: -1px;
	top: 5px;
}

#years {
	float: right;
	width: 87%;
	border: 1px solid #999;
	border-radius: 5px 0 0 0;
	box-shadow: 0 0 5px #999;
	background-color: white;
}

.plan.hidden {
	display: none;
}

.year {
	float: left;
	width: 25%;
	box-shadow: inset -1px 0 0 #ccc;
}

.year-label {
	font-weight: bold;
	text-align: center;
	padding: 15px 0 10px;
	color: #999;
	font-size: 18px;
}

.term {
	float: left;
	width: 49%;
	height: 460px;
	border-right: 1px dashed #ccc;
}

.term:last-child {
	border-right: none;
}

.term-label {
	text-align: center;
	padding: 0 0 10px;
	color: #999;
	text-transform: uppercase;
	font-size: 13px;
}

.course-list {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 405px;
	overflow: hidden;
}

.course {
	cursor: move;
	padding: 6px 6px 20px 6px;
	color: white;
	font-size: 13px;
	font-weight: bold;
	text-shadow: 0 -1px #f07d00;
	margin: 0 5% 6px;
	border-radius: 5px;
	background: #feb62c;
	background: -moz-linear-gradient(top, #feb62c 0%, #f07d00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb62c), color-stop(100%,#f07d00));
	background: -webkit-linear-gradient(top, #feb62c 0%,#f07d00 100%);
	background: -o-linear-gradient(top, #feb62c 0%,#f07d00 100%);
	background: -ms-linear-gradient(top, #feb62c 0%,#f07d00 100%);
	background: linear-gradient(top, #feb62c 0%,#f07d00 100%);
	box-shadow: inset 0px 1px 0px #fc0, 0px 1px 2px rgba(0,0,0,0.25);
	border: 1px solid #f07d00;
}

#sandbox {
	float: right;
	height: 120px;
	width: 87%;
	padding: 0;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 0 0 5px 5px;
	background-color: #fafafa;
}

#sandbox .course {
	width: 100px;
	margin: 10px 0 0 10px;
	padding: 10px;
	float: left;
	background: none;
	box-shadow: none;
	border: 1px solid #ddd;
	text-shadow: none;
	background-color: #efefef;
	color: #069;
}

#sandbox .ui-sortable-placeholder {
	border: 2px dashed #bbb !important;
	height: 20px !important;
}

.ui-sortable-placeholder {
	border: 2px dashed #f07d00 !important;
	visibility: visible !important;
	height: 25px !important;
	background: none !important;
	box-shadow: none !important;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}

.add-course {
	cursor: pointer;
	margin: 0 5%;
	text-align: center;
	background-color: #efefef;
	font-weight: bold;
	color: #999;
	font-size: 20px;
}

#planModal{
	width: 300px;
	margin-left: -125px;
}

.modal-body{
	height: 155px;
}

.modal-backdrop.fade.in {
  opacity: 0 !important;
}
