#planner {
	width: 100%;
	overflow: hidden;
}

#tabs {
	float: left;
	width: 10%;
	margin: 20px 0 0;
	padding: 0;
}

#tabs li {
	list-style: none;
	padding: 10px;
}

#tabs li:hover {
	text-decoration: underline;
	cursor: pointer;
}

#tabs li.selected {
	font-weight: bold;
	background-color: #efefef;
}

#years {
	float: left;
	width: 85%;
	border: 1px solid #999;
	border-radius: 5px;
	margin-bottom: 20px;
}

.plan.hidden {
	display: none;
}

.year {
	float: left;
	width: 25%;
	box-shadow: inset -1px 0 0 #ccc;
}

.year-label {
	font-weight: bold;
	text-align: center;
	padding: 10px 0 15px;
}

.term {
	float: left;
	width: 49%;
	height: 500px;
	border-right: 1px dashed #ccc;
}

.term:last-child {
	border-right: none;
}

.term-label {
	text-align: center;
	padding: 0 0 10px;
}

.course {
	border: 1px solid #666;
	background-color: #efefef;
	text-align: center;
	padding: 20px 0;
	margin: 0 5% 6px;
	border-radius: 5px;
}

#planModal{
	width: 300px;
	margin-left: -125px;
}

.modal-body{
	height: 155px;
}
