#planner {
	overflow: hidden;
}

#tabs {
	float: right;
	width: 12%;
	margin: 30px 0 0;
	padding: 0;
	list-style: none;
}

#tabs li {
	padding: 10px 15px 10px 0;
	position: relative;
	color: #999;
	font-size: 15px;
}

#tabs li:hover {
	color: black;
	cursor: pointer;
}

#tabs li.selected {
	font-weight: bold;
	color: black;
}

#tabs li.selected:before {
	content: '.';
	line-height: 100px;
	overflow: hidden;
	height: 0;
	width: 0;
	border-top: 16px solid transparent;
	border-left: 16px solid transparent;
	border-right: 16px solid #666;
	border-bottom: 16px solid transparent;
	position: absolute;
	right: -1px;
	top: 4px;
}

#tabs li.selected:after {
	content: '.';
	line-height: 100px;
	overflow: hidden;
	height: 0;
	width: 0;
	border-top: 15px solid transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid white;
	border-bottom: 15px solid transparent;
	position: absolute;
	right: -1px;
	top: 5px;
}

#years {
	float: right;
	width: 87%;
	border: 1px solid #999;
	border-radius: 5px 0 0 0;
	box-shadow: 0 0 5px #ccc;
	background-color: white;
}

.plan.hidden {
	display: none;
}

.year {
	float: left;
	width: 25%;
	box-shadow: inset -1px 0 0 #ccc;
}

.year-label {
	font-weight: bold;
	text-align: center;
	padding: 15px 0 10px;
	color: #999;
	font-size: 18px;
}

.term {
	float: left;
	width: 49%;
	height: 460px;
	border-right: 1px dashed #ccc;
}

.term:last-child {
	border-right: none;
}

.term-label {
	text-align: center;
	padding: 0 0 20px;
	color: #999;
	text-transform: uppercase;
	font-size: 13px;
}

.course-list {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 395px;
	overflow: hidden;
}

.course {
	cursor: move;
	padding: 6px 6px 20px 6px;
	color: white;
	font-size: 13px;
	font-weight: bold;
	text-shadow: 0 -1px #f07d00;
	margin: 0 5% 6px;
	border-radius: 5px;
	background: #feb62c;
	background: -moz-linear-gradient(top, #feb62c 0%, #f07d00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb62c), color-stop(100%,#f07d00));
	background: -webkit-linear-gradient(top, #feb62c 0%,#f07d00 100%);
	background: -o-linear-gradient(top, #feb62c 0%,#f07d00 100%);
	background: -ms-linear-gradient(top, #feb62c 0%,#f07d00 100%);
	background: linear-gradient(top, #feb62c 0%,#f07d00 100%);
	box-shadow: inset 0px 1px 0px #fc0, 0px 1px 2px rgba(0,0,0,0.25);
	border: 1px solid #f07d00;
	position: relative;
}

.course.c1 {
	background: #5a97e0; 
	background: -moz-linear-gradient(top, #5a97e0 0%, #2e6bb0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a97e0), color-stop(100%,#2e6bb0));
	background: -webkit-linear-gradient(top, #5a97e0 0%,#2e6bb0 100%);
	background: -o-linear-gradient(top, #5a97e0 0%,#2e6bb0 100%);
	background: -ms-linear-gradient(top, #5a97e0 0%,#2e6bb0 100%);
	background: linear-gradient(top, #5a97e0 0%,#2e6bb0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a97e0', endColorstr='#2e6bb0',GradientType=0 );
	-moz-box-shadow: inset 0px 1px 0px #5ac, 0px 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0px 1px 0px #5ac, 0px 1px 2px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px #5ac, 0px 1px 2px rgba(0,0,0,0.25);
	text-shadow: 0 -1px #2e6bb0;
	border: 1px solid #205ea1;
}
.course.c2 {
	background: #84d14d;  
	background: -moz-linear-gradient(top, #84d14d 0%, #5caf21 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84d14d), color-stop(100%,#5caf21));
	background: -webkit-linear-gradient(top, #84d14d 0%,#5caf21 100%);
	background: -o-linear-gradient(top, #84d14d 0%,#5caf21 100%);
	background: -ms-linear-gradient(top, #84d14d 0%,#5caf21 100%);
	background: linear-gradient(top, #84d14d 0%,#5caf21 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84d14d', endColorstr='#5caf21',GradientType=0 );
	-moz-box-shadow: inset 0px 1px 0px #a6eb6a, 0px 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0px 1px 0px #a6eb6a, 0px 1px 2px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px #a6eb6a, 0px 1px 2px rgba(0,0,0,0.25);
	text-shadow: 0 -1px #5caf21;
	border: 1px solid #58a120;
}
.course.c3 {
	background: #c63ac4; 
	background: -moz-linear-gradient(top, #c63ac4 0%, #850082 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c63ac4), color-stop(100%,#850082));
	background: -webkit-linear-gradient(top, #c63ac4 0%,#850082 100%);
	background: -o-linear-gradient(top, #c63ac4 0%,#850082 100%);
	background: -ms-linear-gradient(top, #c63ac4 0%,#850082 100%);
	background: linear-gradient(top, #c63ac4 0%,#850082 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c63ac4', endColorstr='#850082',GradientType=0 );
	-moz-box-shadow: inset 0px 1px 0px #ff7af8, 0px 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0px 1px 0px #ff7af8, 0px 1px 2px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px #ff7af8, 0px 1px 2px rgba(0,0,0,0.25);
	text-shadow: 0 -1px #850082;
	border: 1px solid #66005f;
}
.course.c4 {
	background: #e34927; 
	background: -moz-linear-gradient(top, #e34927 0%, #b51800 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e34927), color-stop(100%,#b51800));
	background: -webkit-linear-gradient(top, #e34927 0%,#b51800 100%);
	background: -o-linear-gradient(top, #e34927 0%,#b51800 100%);
	background: -ms-linear-gradient(top, #e34927 0%,#b51800 100%);
	background: linear-gradient(top, #e34927 0%,#b51800 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e34927', endColorstr='#b51800',GradientType=0 );
	-moz-box-shadow: inset 0px 1px 0px #ff8769, 0px 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0px 1px 0px #ff8769, 0px 1px 2px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px #ff8769, 0px 1px 2px rgba(0,0,0,0.25);
	text-shadow: 0 -1px #b51800;
	border: 1px solid #850000;
}
.course.c5 {
	background: #71c4c7;
	background: -moz-linear-gradient(top, #71c4c7 0%, #459699 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71c4c7), color-stop(100%,#459699));
	background: -webkit-linear-gradient(top, #71c4c7 0%,#459699 100%);
	background: -o-linear-gradient(top, #71c4c7 0%,#459699 100%);
	background: -ms-linear-gradient(top, #71c4c7 0%,#459699 100%);
	background: linear-gradient(top, #71c4c7 0%,#459699 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71c4c7', endColorstr='#459699',GradientType=0 );
	-moz-box-shadow: inset 0px 1px 0px #8fe0e3, 0px 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0px 1px 0px #8fe0e3, 0px 1px 2px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px #8fe0e3, 0px 1px 2px rgba(0,0,0,0.25);
	text-shadow: 0 -1px #459699;
	border: 1px solid #37878a;
}

.course .delete {
	font-size: 11px;
	font-weight: normal;
	position: absolute;
	top: 0;
	right: 0;
	padding: 3px 5px;
	cursor: pointer;
}

#sandbox {
	float: right;
	height: 120px;
	width: 87%;
	padding: 0;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 0 0 5px 5px;
	background-color: #fafafa;
}

#sandbox .course {
	width: 100px;
	margin: 10px 0 0 10px;
	padding: 10px;
	float: left;
	background: none;
	box-shadow: none;
	border: 1px solid #ddd;
	text-shadow: none;
	background-color: #efefef;
	color: #069;
}

#sandbox .ui-sortable-placeholder {
	border: 2px dashed #bbb !important;
	height: 20px !important;
}

.ui-sortable-placeholder {
	border: 2px dashed #f07d00 !important;
	visibility: visible !important;
	height: 25px !important;
	background: none !important;
	box-shadow: none !important;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}

.add-course {
	cursor: pointer;
	margin: 0 5%;
	text-align: center;
	background-color: #efefef;
	font-weight: bold;
	color: #999;
	font-size: 20px;
}

.add-course:hover {
	background-color: #ddd;
}

#share {
	width: 173px;
	margin-left: auto;
	margin-bottom: 10px;
	background-color: #999;
	color: white;
	text-align: center;
	padding: 10px 0;
	font-size: 14px;
}

#share:hover {
	cursor: pointer;
	background-color: #ccc;
}

#planModal{
	width: 300px;
	margin-left: -125px;
}

.modal-body{
	height: 155px;
}

.modal-backdrop {
	background-color: #FFF;
}

#saving {
	position: absolute;
	display: none;
	top: 0;
	left: 50%;
	margin-left: -80px;
	width: 160px;
	padding: 10px 0;
	background-color: #ffb;
	font-weight: bold;
	text-align: center;
}

ul li{
	list-style: none;
}

ul li span.add-major{
	border: 2px dashed #DDD;
	float: left;
	margin-left: -16px;
	padding: 6px;
	width: 100px;
	height: 15px;
	line-height: 15px;
	border-radius: 5px;
	text-align: center;
	position: relative;
	top: 10px;
	color: #999;
	cursor: pointer;
	background-color: #efefef;
}
span.add-sign{
	font-size: 22px;
	line-height: 9px;
}
